body {
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active, a:visited, a:focus {
  color: inherit;
}

a:hover, a:active {
  color: #a11c78;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  display: block;
  max-width: 1400px;
  margin: auto;
}

@media (max-width: 1350px ) and (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1250px ) and (min-width: 979px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 979px) and (min-width: 808px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 808px) {
  .container {
    max-width: none;
    width: auto;
    padding: 0 2.3%;
  }
}

/* header */.header .container{
  height: 120px;
  line-height: 120px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(../images/header-right.png) right center no-repeat;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.header-title {
  display: inline-block;
  margin-left: 70px;
  vertical-align: middle;
}

.header-title .ch-title, .header-title .en-title {
  display: block;
  color: #a11c78;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  font-weight: 6500;
}

.header-title .ch-title span {
  white-space: nowrap;
  line-height: 1.3;
}

.header-title .ch-title {
  font-size: 24px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .header-title {
    display: none;
  }
  .header .container {
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 553px) {
  .header .container {
    height: 5em;
  }
}

/* navigation */
.nav {
  background-color: #a11c78;
}

.nav-lists {
  font-size: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.nav-lists .nav-item {
  display: inline-block;
  position: relative;
  width: 12.5%;
  text-align: center;
  flex: 1;
}

.nav-lists .nav-item:hover {
  background: #8d1669;
}

.nav-item .nav-link {
  display: inline-block;
  height: 100%;
  color: #fff;
  line-height: 45px;
  font-size: 16px;
  width: 100%;
}

.nav-dropdown {
  display: none;
  position: relative;
}

@media (max-width: 808px) {
  body {
    position: relative;
    padding-top: 2.5em;
  }
  .nav {
    position: fixed;
    top: 0;
    height: 2.5em;
    width: 100%;
    z-index: 1000;
  }

  .nav .container {
    padding: 0;
  }

  .nav-lists {
    background: #a11c78;
    padding-top: 2.5em;
    font-size: 1em;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    position: fixed;
    top: 0;
    height: 100%;
    left: 100%;
    transition: left cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
  }

  .nav.show .nav-lists{
    left: 30%;
    right: 0;
    z-index: 10;
  }
  .nav-lists .nav-item{
    display: block;
    width: 100%;
    flex: 1 100%;
  }

  .nav-show, .nav-close {
    width: 32px;
    height: 100%;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
  }

  .nav-show {
   z-index: 0;
  }

  .nav-close {
    height: 2.5em;
    z-index: 20;
    right: 0;
  }

  .nav-close::before, .nav-close::after, .nav-show::before, .nav-show::after {
    content: '';
    display: inline-block;
    width: 80%;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 50%;
    border-radius: 1px;
  }

  .nav-close::before {
    transform: rotate(45deg)
  }

  .nav-close::after {
    transform: rotate(-45deg)
  }

  .nav-show::before {
    top: 35%;
    transform: rotate(-30deg)
  }

  .nav-show::after {
    top: 65%;
    transform: rotate(30deg)
  }
}

/* footer */
.footer {
  height: 140px;
  background: #f5f5f5;
}

.footer .container {
  line-height: 140px;
  vertical-align: middle;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: inline-block;
  vertical-align: middle;
}

.info > span{
  display: block;
  line-height: 2.5;
}

.footer-logo {
  display: inline-block;
  float: right;
  line-height: 140px;
}

.footer-logo img {
  vertical-align: middle;
}

@media (max-width: 845px) {
  .footer {
    height: auto;
    text-align: center;
    justify-content: center;
    padding: 1em 0;
    overflow: hidden;
  }
  .footer-logo {
    float: none;
    flex: 1 100%;
    line-height: 1;
    order: 1;
  }

  .info {
    display: block;
    flex: 1 100%;
    order: 2;
    margin-top: 1em;
  }
  
  .info > span {
    line-height: 1.5;
  }

  .info > span span {
    white-space: nowrap;
  }
}

/* banner */
.banner {
  font-size: 0;
}

@media (max-width: 1350px) {
  .banner .container {
    max-width: none;
    padding: 0;
  }
}

/* breadcrumb */
.breadcrumb {
  line-height: 66px;
  margin-top: 13px;
}

.breadcrumb .container {
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  line-height: 1.5;
  font-size: 14px;
  color: #969696;
  background: url(../images/location.png) left .75em no-repeat;
  border-bottom: 1px solid #d2d2d2;
}

.location {
  padding-left: 26px;
}

@media (max-width: 808px) {
  .breadcrumb .container {
    background-position: 2.3% .75em;
  }
}

/* pager */
.pager {
  margin-bottom: 38px;
}
.pager-list {
  text-align: center;
  font-size: 14px;
  color: #888e9c;
}
.pager-item {
  display: inline-block;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  margin: 5px 5px;
}

.pager-item:hover {
  border-color: #a11c78;
  color: #a11c78;
}

.pager-item a {
  display: inline-block;
  padding: 10px 6px;
  min-width: 18.7px;
  line-height: 1;
}

.pager-more {
  border: none;
  margin: 0;
}

.pager-more a {
  min-width: auto;
}
@media (max-width: 768px) {
  .pager {
    margin-bottom: 19px;
  }
}