/**
 * clear ui/li
 */
 ul,li{padding: 0;list-style: none;}
 /**
 * clear p
 */
 p{padding: 0;margin: 0}
.new-nav{
  margin: 24px auto 0 auto;
  max-width: 1400px;
  font-family: "MMicrosoftYaHei";
  font-size:0px;
}
.new-nav a{
  display: inline-block;
  width: 120px;
  height: 40px;
  text-align: center;
}
.new-nav-first{
    background-color: #a11c78;
    margin-right:14px; 
}
.new-nav-second {
  background-color: #f5f5f5;
}
.new-nav a img{
  vertical-align: baseline;
}
.new-nav a span {
  font-size: 16px;
  font-size: 1rem;
  margin-left: 20px;
}
.new-nav-first span { 
  color: #ffffff;
  line-height: 40px;
}
.new-nav-second span {
  color: #969696;
  line-height: 40px;
}
.new-container {
  max-width: 1400px;
  margin: 12px auto 50px auto;
}
.new-container-li{
  padding-bottom: 36px;
  border-bottom:1px solid #d2d2d2 
}
.new-container-li-titile{
  padding-top:46px;
  padding-bottom: 52px;
}
.new-container-li-container{
  margin-bottom: 55px;
  line-height: 1.5;
  max-width: 976px;
  font-size: 16px;
  color: #969696
}
.new-container-li-titile a{
  font-size:24px;
  font-size: 1.5rem;
  color: #a11c78;
}
.new-container-li-visit{
  font-size: 16px;
  font-size: 1rem;
}
.new-container-li-visit a:first-child{
  margin-right: 40px;
}
.new-container-li-time{
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../images/clock.png");
  margin-right: 10px;
  vertical-align: -1px;
}
.new-container-li-eye{
  display: inline-block;
  width: 19px;
  height: 12px;
  background-image: url("../images/eye.png");
  margin-right: 10px;
}
.new-container-li-right{
  display: inline-block;
}
.new-container-li-left{
  display: inline-block;
}
@media (max-width: 1350px) {
  .new-container-li-right {
    display: none;
  }
}
